.header {
  background: #e1dddf;
}

.header__inner {
  margin: 0 auto;
  padding: 20px 15px;
  max-width: 1230px;
}

.header__utilities {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  color: #6f5e50;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
}

.header-nav__link {
  color: #a28f88;
  text-decoration: none;
}